<tbody>
   <tr>
      <td>
         {{number}}
      </td>
      <td>
         {{name}}
      </td>
      <td>
         {{year}}
      </td>
      <td>
         {{position}}
      </td>
      <td>
         {{height}}
      </td>
      <td>
         {{weight}}
      </td>
      <td>
         {{hs}}
      </td>
      <td>
         {{hometown}}
      </td>
   </tr>
</tbody>

